.container-trabalhos{
	display: grid;
	grid-template-columns: repeat(6, calc(100% / 6));
	grid-template-rows: 100px 25vh 1fr 10vh;
	grid-row: 2;
	grid-column: 1 / 7;
	scroll-padding-top: 15vh;
	scroll-snap-align: start;
	color: var(--primaria);
}
.trabalhos__titulos{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	grid-row: 1;
	grid-column: 2 / 3;
	font-size: 20px;
}
.trabalhos__titulos h2{
	cursor: pointer;
}
.underline{
	width: 100px;
	height: 3px;
	background-color: var(--destaque2);
	position: absolute;
	transition: all 1s ease-in-out;
}
.container-trabalhos__explicacao{
	grid-row: 2;
	grid-column: 2 / 4;
	display: flex;
	flex-flow: column;
	align-self: center;
	font-size: 18px;
}
.container-trabalhos__titulo{
	color: var(--destaque2)
}
.container-trabalhos__texto{
	font-size: 15px;
}
.container-trabalhos__detalhes{
	margin-top: 5px;
	font-size: 12px;
}
.container-cards{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(3, 1fr);
	flex-flow: row nowrap;
	justify-content: stretch;
	grid-row: 3;
	grid-column: 2 / 6;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}
.cards{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	scroll-snap-align: center;
	width: 100%;
	gap: 40px;
	padding: 30px 0px;
}
.trabalhos__card{
	scroll-snap-align: start;
	align-items: center;
}
.trabalhos__card__p{
	font-size: 16px;
	text-align: center;
	color: var(--primaria);
}
.trabalhos__card__button{
	padding: 15px 25px;
	border-radius: 10px;
	color: #0f0f0f;
	cursor: pointer;
	background-color: var(--primaria);
	font-size: 15px;
}

/* CARDS SISTEMAS */

.cards__sistemas{
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
}
.cards__sistemas .trabalhos__card{
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 1fr;
	padding: 20px;
	border-radius: 10px;
	width: 450px;
	height: 400px;
	background: linear-gradient(322deg, rgba(108,15,217,1) 0%, rgba(183,12,232,1) 75%);
}
.trabalhos__card__ul__tecs{
	display: flex;
}
.trabalhos__card__desc p, .trabalhos__card__ul__tecs li{
	font-size: 14px;
}
.trabalhos__card__ul__tecs li img{
	width: 30px;
	margin-top: 3x;
	margin-right: 20px;
}
.trabalhos__card__trigger-imagens{
	padding: 20px;
	margin: 10px 0px;
	border-radius: 10px;
	cursor: pointer;
	color: rgba(108,15,217,1);
	background-color: var(--primaria);
}
.trabalhos__card__ul__tecs li .css, .trabalhos__card__ul__tecs li .html{
	width: 28px;
}

/* CARDS SITES */

.cards__sites .trabalhos__card{
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	flex: 1;
	width: 450px;
	height: 400px;
	border-radius: 10px;
	padding: 20px;
	background: linear-gradient(322deg, rgba(108,15,217,1) 0%,
		rgba(183,12,232,1) 75%);
}
.cards__sites .trabalhos__card__img{
	animation: logo-motion-sites 12s infinite;
}
.cards__sites .trabalhos__card:first-child .trabalhos__card__img{
	width: 160px;
}
.cards__sites .trabalhos__card:nth-child(2) .trabalhos__card__img{
	width: 232px;
}
.cards__sites .trabalhos__card:last-child .trabalhos__card__img{
	width: 130px;
}
@keyframes logo-motion-sites{
	0%{ transform: translateY(0px);}
	25%{ transform: translateY(-10px);}
	50%{ transform: translateY(0px);}
	75%{ transform: translateY(-10px);}
	100%{ transform: translateY(0px);}
}


/* CARDS ARTES */

.cards__artes .trabalhos__card{
	width: 450px;
	height: 400px;
	margin: 20px;
}
.cards__artes .trabalhos__card__img{
	width: 100%;
	border-radius: 10px;
	transition: .4s;
}
.cards__artes .trabalhos__card__img:hover{
	transform: scale(.97);
}


/* GALERIA */

.container-galeria{
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	grid-column: 1 / 7;
	grid-row: 2;
}
.container-galeria__container-imgs{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(5, 100vw);
	overflow-x: scroll;
	align-items: center;

}
.container-galeria img{
	width: 100%;
	padding: 40px;
	border-radius: 10px;
}
.container-galeria__close{
	position: fixed;
	top: 5px;
	right: 5px;
	font-size: 30px;
	cursor: pointer;
	z-index: 10;
	transition: .4s;
}
.container-galeria__close:hover{
	color: #f11717;
}
.container-trabalhos .faixa.faixa--branco{
	grid-column: 6;
	grid-row: 2 / 5;
	justify-self: center;
	background-color: var(--primaria);
	width: 3vw;
	border-radius: 10px 10px 0px 0px;
}
.container-trabalhos .faixa--roxo{
	grid-column: 1;
	grid-row: 1 / 2;
	justify-self: center;
	background-color: var(--destaque);
	border-radius: 0px 0px 10px 10px;
}

/* ------------------------------ BREAKPOINTS  ------------------------------*/

/* CELULAR */

@media screen and (max-width: 768px){
	.container-trabalhos{
		grid-template-rows: 100px 25vh 1fr;
	}
	.trabalhos__titulos{
		justify-content: space-evenly;
		align-items: flex-start;
		padding-top: 20px;
		font-size: 18px;
	}
	.container-cards, .trabalhos__titulos{
		grid-column: 1 / 7;
	}
	.cards .trabalhos__card{
		width: 90vw;
	}
	.trabalhos__card a{
		display: flex;
		align-items: center;
	}
	.container-trabalhos__explicacao{
		grid-column: 2 / 6;
		/* padding: 0px 18px; */
		align-items: flex-start;
	}
	.container-trabalhos .faixa.faixa--branco{
		justify-self: flex-end;
	}

	/* GALERIA */

	.container-galeria{
		position: absolute;
		grid-column: 1 / 7;
		grid-row: 2;
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template-columns: 100vw;
		grid-template-rows: repeat(5, 100vh);
		align-items: center;
		justify-items: center;
		overflow-y: scroll;
		overflow-x: hidden;
		backdrop-filter: blur(10px);
	}
	.container-galeria img{
		width: 100vh;
		height: 100vw;
		transform: rotate(90deg);
		padding: 20px;
		border-radius: 10px;
	}
}
