.container-habilidades{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 100px 150px 1fr 25vh;
	grid-row: 3;
	grid-column: 1 / 7;
	scroll-padding-top: 15vh;
	scroll-snap-align: start;
	text-align: center;
}
.container-habilidades__titulo{
	grid-row: 1;
	grid-column: 2 / 3;
	color: var(--primaria);
	text-transform: uppercase;
	align-self: flex-end;
	justify-self: flex-start;
}
.container-texto{
	grid-column: 2 / 3;
	grid-row: 2;
	align-self: center;
	color: var(--primaria);
	text-align: left;
}
.container-itens{
	grid-row: 3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 32vh;
	margin: 0px 10px;
	align-self: flex-end;
}
.container-itens__titulo{
	color: #d2d2d29c;
	text-align: left;
}
.container__linguagens{
	background-color: var(--pontual);
	border-radius: 10px;
	color: var(--primaria);
	font-size: 17px;
}
.container__lista{
	padding: 20px;
}
.container__item{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: flex-start;
	align-items: center;
}
.container__item img{
	width: 50px;
}


/* PROGRAMAÇÃO */

.container-programacao{
	grid-column: 2;
}

/* FERRAMENTAS */

.container-ferramentas{
	grid-column: 3 / 5;
}
.container__lista--ferramentas{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
	background-color: var(--primaria);
	border-radius: 10px;
	height: 100%;
}

/* DESIGN */

.container-design{
	grid-column:  5;
}
.container-habilidades .faixa--azul{
	grid-column: 1;
	grid-row: 4;
	justify-self: center;
	background-color: var(--pontual);
	border-radius: 10px 10px 0px 0px;
	width: 4vw;
}
.container-habilidades .faixa--branca{
	grid-column: 6;
	grid-row: 1 / 2;
	justify-self: center;
	background-color: var(--primaria);
	width: 3vw;
	border-radius: 0px 0px 10px 10px;
}

/* ------------------------------ BREAKPOINTS  ------------------------------*/

/* CELULAR */

@media screen and (max-width: 980px){
	.container-habilidades {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 70px 70px repeat(3, 26vh) 1fr;
	}
	.container-habilidades__titulo, .container-texto{
		grid-column: 2 / 7;
	}
	.container-itens__titulo{
		align-self: flex-end;
	}
	.container-itens{
		grid-column: 2 / 6;
		margin: 0px;
		grid-template-rows: 40px 1fr;
		align-self: stretch;
	}
	.container__lista{
		height: 100%;
	}
	.container-programacao{
		grid-row: 3;
	}
	.container__lista--linguagens{
		display: grid;
		grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
		grid-template-columns: repeat(2, 1fr);
	}
	.container-ferramentas{
		grid-row: 4;
	}
	.container-design{
		grid-row: 5;
	}
	.container__item img{
		width: 30px;
	}
	.container-habilidades .faixa--azul{
		grid-row: 5 / 7;
	}
	.container-habilidades .faixa--branca{
		justify-self: flex-end;
	}
}
