@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
	font-family: 'marca';
	src: url('./assets/fontes/stay-and-shine.ttf');
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
button{
	outline: none;
	border: none;
}
html, body{
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
body{
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-scrollbar {
    background: #f4f4f4;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #0000003b;
    border-radius: 10px;
    border-radius: var(--borderRadius);
}
::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}
:root{
	--primaria: #D2D2D2;
	--destaque: #6C0FD9;
	--pontual: #0084FF;
}

 /* CONTAINER GERAL DA APLICAÇÃO */

 .container-app{
	background-image: linear-gradient(90deg, #1e1e1e 0%, black 100%);
	-web-kit-background-image: linear-gradient(90deg, #1e1e1e 0%, black 100%);
	-moz-background-image: linear-gradient(90deg, #1e1e1e 0%, black 100%);
	display: grid;
	grid-template-columns: repeat(6, calc(100% / 6));
	grid-template-rows: repeat(4, 100vh);
}

.link__destaque{
	color: var(--pontual)
}
